.layout {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.layout--dashboard {
  width: 100%;
  padding: 0 0.5rem;
}

.layout__content {
  width: 100%;
  flex: 1;
}

@media (min-width: 320px) {
  .layout--dashboard {
    padding: 0 0.75rem;
  }
}

@media (min-width: 1024px) {
  .layout--dashboard {
    padding: 0 1rem;
  }
}
