.awm__modal {
  width: min(700px, 96vw);
}

.awm__row {
  display: grid;
  grid-template-columns:
    2fr minmax(60px, 1fr) minmax(60px, 1fr) minmax(60px, 1fr)
    auto;
  gap: 8px;
  align-items: center;
}

.awm__input,
.awm__select {
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 480px) {
  .awm__modal {
    width: 100%;
  }

  .awm__row {
    grid-template-columns: 1fr;
  }
}

.awm__addRowWrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
}

@media (max-width: 480px) {
  .awm__addRowWrap {
    justify-content: stretch;
  }
  .awm__addRow {
    width: 100%;
    text-align: center;
  }
}
