@media (min-width: 1024px) {
  .ex-tr:nth-child(even) {
    background: var(--bg-row-alt);
  }
}

.ex-btn--text {
  display: none;
}

.ex-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 8px;
}

@media (max-width: 1024px) {
  .ex-btn--text {
    display: inline-block;
  }
  .ex-icon {
    display: none;
  }
}
