.wtr--sub {
  border: none;
  background: transparent;
}

.wtd--sub {
  padding: 0;
}

.btn:focus-visible {
  outline-offset: 2px;
}

.btn.btn-outline {
  background: transparent;
}

.w-btn--text {
  display: none;
}

.w-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .w-btn--text {
    display: inline-block;
  }
  .w-icon {
    display: none;
  }
  .expand-btn {
    width: 100%;
  }
}
