.mobile-card {
  padding: 0;
}

.wcard {
  background: var(--bg-row);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.wcard-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wcard-title {
  font-weight: 700;
}

.wcard-left {
  font-weight: 600;
}

.wcard-notes {
  text-align: right;
  max-width: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.wcard-expand {
  justify-content: center;
  margin-top: 10px;
}

.expand-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.wcard-subtable {
  margin-top: 14px;
}

.w-icon {
  cursor: pointer;
  display: none;
}

.w-btn--text {
  display: inline-block;
}

@media (min-width: 1024px) {
  .mobile-card {
    display: none;
  }

  .desktop-row {
    display: table-row;
  }

  .w-icon {
    display: inline-block;
  }

  .w-btn--text {
    display: none;
  }
}
