.wtr--sub {
  border: none;
  background: transparent;
}

.wtd--sub {
  padding: 0;
}

.btn:focus-visible {
  outline-offset: 2px;
}

.btn.btn-outline {
  background: transparent;
}

@media (max-width: 1024px) {
  .expand-btn {
    width: 100%;
  }
}
